adf-ucb-dw-ffaa-4536427/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-dw-ffaa-4536427"
		},
		"ls_oltp_ffaa_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"ls_oltp_ffaa\""
		},
		"ls_sql_dw_ffaa_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"ls_sql_dw_ffaa\""
		},
		"ls_oltp_ffaa_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server02-fuerzas-armadas-bolivia.database.windows.net"
		},
		"ls_oltp_ffaa_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "erp-fuerzas-armadas-bolivia-2"
		},
		"ls_oltp_ffaa_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "userSisGer"
		},
		"ls_sql_dw_ffaa_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisger-ffaa-4536427.database.windows.net"
		},
		"ls_sql_dw_ffaa_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_ffaa_bolivia"
		},
		"ls_sql_dw_ffaa_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminfaa"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_oltp_to_silver_catalogos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_especialidades",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceespecialidades": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_rangos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_otlp_to_silver_unidades",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow4",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_tipos_movimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow5",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_tipos_operacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow6",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_zonas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow7",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_estructura_org",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_especialidades')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_rangos')]",
				"[concat(variables('factoryId'), '/dataflows/df_otlp_to_silver_unidades')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_tipos_movimientos')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_tipos_operacion')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_zonas')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_estructura_org')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_oltp_to_silver_transaccional')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_efectivos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_movimientos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_oltp_to_silver_operaciones",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_efectivos')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_movimientos')]",
				"[concat(variables('factoryId'), '/dataflows/df_oltp_to_silver_operaciones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_efectivo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_efectivo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_rango')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_rango"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tiempo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tipo_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tipo_movimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tipo_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tipo_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_unidad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_unidad"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_zona_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_zona_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_movimiento_personal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_efectivos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "varchar"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "departamento_origen",
						"type": "nvarchar"
					},
					{
						"name": "fecha_ingreso",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_efectivos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_especialidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_especialidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_estructura_org')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_estructura",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_padre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "sigla",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "cobertura_departamentos",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_estructura_organizacional"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_movimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_destino",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_movimiento",
						"type": "varchar"
					},
					{
						"name": "antiguedad_anios",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_movimientos_personal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_operaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_operacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_resp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre_operacion",
						"type": "nvarchar"
					},
					{
						"name": "fecha_inicio",
						"type": "varchar"
					},
					{
						"name": "fecha_fin",
						"type": "varchar"
					},
					{
						"name": "efectivos_desplegados",
						"type": "varchar"
					},
					{
						"name": "vehiculos_utilizados",
						"type": "varchar"
					},
					{
						"name": "duracion_dias",
						"type": "varchar"
					},
					{
						"name": "costo_operacion",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					},
					{
						"name": "detenidos",
						"type": "varchar"
					},
					{
						"name": "area_km2",
						"type": "varchar"
					},
					{
						"name": "incidentes",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_operaciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_rangos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_rangos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_tipos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_tipos_movimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_tipos_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_unidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_unidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_oltp_zonas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_oltp_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "oltp"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "departamento",
						"type": "nvarchar"
					},
					{
						"name": "frontera_con",
						"type": "nvarchar"
					},
					{
						"name": "tipo_terreno",
						"type": "varchar"
					},
					{
						"name": "altitud_msnm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel_riesgo",
						"type": "varchar"
					},
					{
						"name": "acceso_carretero",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_zonas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_oltp_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_efectivos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "efectivos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_especialidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "especialidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_estructura_org')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "estructura_organizacional"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "movimientos_personal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_operaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "operaciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_rangos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "rangos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_tipos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "tipos_movimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "tipos_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_unidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "unidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_zonas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "silver",
					"table": "zonas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_oltp_ffaa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_oltp_ffaa_properties_typeProperties_server')]",
					"database": "[parameters('ls_oltp_ffaa_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_oltp_ffaa_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_oltp_ffaa_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_dw_ffaa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_dw_ffaa_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_dw_ffaa_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_dw_ffaa_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_dw_ffaa_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_efectivos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_efectivos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_efectivos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_efectivo as integer,",
						"          id_especialidad as integer,",
						"          id_unidad_actual as integer,",
						"          id_rango_actual as integer,",
						"          nombre as string,",
						"          ci as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          departamento_origen as string,",
						"          fecha_ingreso as string,",
						"          estado as string,",
						"          salario_mensual as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(nombre = trim(regexReplace(upper(nombre), '[#\\\\\\\\t]', ' ')),",
						"          genero = case(     upper(trim(genero)) == 'M' || upper(trim(genero)) == 'MASCULINO' || upper(trim(genero)) == 'HOMBRE' || upper(trim(genero)) == 'MASC.', 'M',     upper(trim(genero)) == 'F' || upper(trim(genero)) == 'FEMENINO' || upper(trim(genero)) == 'FEM', 'F',     'N/A' ),",
						"          estado = case(     upper(trim(estado)) == 'ACTIVO' || upper(trim(estado)) == 'ACTIVO.' || upper(trim(estado)) == 'ACT' || upper(trim(estado)) == 'ACTV' || upper(trim(estado)) == 'A' || upper(trim(estado)) == 'EN ACTIVIDAD', 'ACTIVO',     upper(trim(estado)) == 'BAJA' || upper(trim(estado)) == 'DADO DE BAJA', 'BAJA',     upper(trim(estado)) == 'R' || upper(trim(estado)) == 'RSV' || upper(trim(estado)) == 'RESERVA', 'RESERVA',     'DESCONOCIDO' ),",
						"          salario_mensual = iifNull(toDecimal(regexReplace(regexReplace(salario_mensual, '[^0-9.]', ''), ',', ''), 12, 2), 0),",
						"          departamento_origen = case(\r",
						"    upper(trim(departamento_origen)) == 'LA PAZ' || upper(trim(departamento_origen)) == 'L.P.' || upper(trim(departamento_origen)) == 'LP', 'LA PAZ',\r",
						"    upper(trim(departamento_origen)) == 'COCHABAMBA' || upper(trim(departamento_origen)) == 'CBBA' || upper(trim(departamento_origen)) == 'CBBA.', 'COCHABAMBA',\r",
						"    upper(trim(departamento_origen)) == 'SANTA CRUZ' || upper(trim(departamento_origen)) == 'SCZ', 'SANTA CRUZ',\r",
						"    upper(trim(departamento_origen)) == 'ORURO' || upper(trim(departamento_origen)) == 'OR', 'ORURO',\r",
						"    upper(trim(departamento_origen)) == 'TARIJA' || upper(trim(departamento_origen)) == 'TJ', 'TARIJA',\r",
						"    upper(trim(departamento_origen)) == 'POTOSI' || upper(trim(departamento_origen)) == 'PT', 'POTOSI',\r",
						"    upper(trim(departamento_origen)) == 'BENI' || upper(trim(departamento_origen)) == 'BE', 'BENI',\r",
						"    upper(trim(departamento_origen)) == 'PANDO' || upper(trim(departamento_origen)) == 'PD', 'PANDO',\r",
						"    upper(trim(departamento_origen)) == 'CHUQUISACA' || upper(trim(departamento_origen)) == 'CH', 'CHUQUISACA',\r",
						"    upper(trim(departamento_origen))\r",
						"),",
						"          ci = case(\r",
						"    upper(trim(ci)) == 'SIN DATO' || upper(trim(ci)) == 'N/D', 'N/A',\r",
						"    trim(regexReplace(regexReplace(regexReplace(regexReplace(upper(ci), 'C[.]?I[.]?\\\\s*', ''), '[:\\\\s]*([A-Z]{2,3}[.]?)$', ''), '[.\\\\-\\\\s:]', ''), '^[:\\\\s]+', ''))\r",
						")) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_efectivos')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_efectivos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_especialidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_especialidades",
								"type": "DatasetReference"
							},
							"name": "sourceespecialidades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_especialidades",
								"type": "DatasetReference"
							},
							"name": "sink"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceespecialidades",
						"sourceespecialidades sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_especialidades')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_especialidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_estructura_org')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_estructura_org",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_estructura_org",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_estructura as integer,",
						"          id_padre as integer,",
						"          nivel as string,",
						"          nombre as string,",
						"          sigla as string,",
						"          tipo as string,",
						"          cobertura_departamentos as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(sigla = iifNull(sigla, 'N/A'),",
						"          tipo = iifNull(tipo, 'N/A'),",
						"          cobertura_departamentos = iifNull(cobertura_departamentos, 'Nacional')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_estructura_org')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_estructura_org')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_movimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_movimientos_personal",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_movimientos_personal",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_movimiento as integer,",
						"          id_efectivo as integer,",
						"          id_unidad_destino as integer,",
						"          id_rango as integer,",
						"          id_tipo as integer,",
						"          fecha_movimiento as string,",
						"          antiguedad_anios as string,",
						"          salario_mensual as string,",
						"          observaciones as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(antiguedad_anios = case(\r",
						"    lower(trim(antiguedad_anios)) == 'cero' || lower(trim(antiguedad_anios)) == 'cero años' || trim(antiguedad_anios) == '0 a.' || trim(antiguedad_anios) == '0,0 años' || trim(antiguedad_anios) == '0 años' || trim(antiguedad_anios) == 'aprox. 0', 0,\r",
						"    lower(trim(antiguedad_anios)) == 'uno' || lower(trim(antiguedad_anios)) == '1 año', 1,\r",
						"    lower(trim(antiguedad_anios)) == 'dos' || lower(trim(antiguedad_anios)) == 'dos años', 2,\r",
						"    lower(trim(antiguedad_anios)) == 'tres' || lower(trim(antiguedad_anios)) == 'tres años', 3,\r",
						"    lower(trim(antiguedad_anios)) == 'cuatro' || lower(trim(antiguedad_anios)) == 'cuatro años', 4,\r",
						"    lower(trim(antiguedad_anios)) == 'cinco' || lower(trim(antiguedad_anios)) == 'cinco años', 5,\r",
						"    lower(trim(antiguedad_anios)) == 'seis' || lower(trim(antiguedad_anios)) == 'seis años', 6,\r",
						"    lower(trim(antiguedad_anios)) == 'siete' || lower(trim(antiguedad_anios)) == 'siete años', 7,\r",
						"    lower(trim(antiguedad_anios)) == 'ocho' || lower(trim(antiguedad_anios)) == 'ocho años', 8,\r",
						"    lower(trim(antiguedad_anios)) == 'nueve' || lower(trim(antiguedad_anios)) == 'nueve años', 9,\r",
						"    lower(trim(antiguedad_anios)) == 'diez' || lower(trim(antiguedad_anios)) == 'diez años', 10,\r",
						"    lower(trim(antiguedad_anios)) == 'once' || lower(trim(antiguedad_anios)) == 'once años', 11,\r",
						"    lower(trim(antiguedad_anios)) == 'doce' || lower(trim(antiguedad_anios)) == 'doce años', 12,\r",
						"    lower(trim(antiguedad_anios)) == 'trece' || lower(trim(antiguedad_anios)) == 'trece años', 13,\r",
						"    lower(trim(antiguedad_anios)) == 'catorce' || lower(trim(antiguedad_anios)) == 'catorce años', 14,\r",
						"    lower(trim(antiguedad_anios)) == 'quince' || lower(trim(antiguedad_anios)) == 'quince años', 15,\r",
						"    lower(trim(antiguedad_anios)) == 'dieciséis' || lower(trim(antiguedad_anios)) == 'dieciséis años', 16,\r",
						"    lower(trim(antiguedad_anios)) == 'diecisiete' || lower(trim(antiguedad_anios)) == 'diecisiete años', 17,\r",
						"    lower(trim(antiguedad_anios)) == 'dieciocho' || lower(trim(antiguedad_anios)) == 'dieciocho años', 18,\r",
						"    lower(trim(antiguedad_anios)) == 'diecinueve' || lower(trim(antiguedad_anios)) == 'diecinueve años', 19,\r",
						"    lower(trim(antiguedad_anios)) == 'veinte' || lower(trim(antiguedad_anios)) == 'veinte años', 20,\r",
						"    lower(trim(antiguedad_anios)) == 'veintiuno' || lower(trim(antiguedad_anios)) == 'veintiuno años', 21,\r",
						"    lower(trim(antiguedad_anios)) == 'veintidós' || lower(trim(antiguedad_anios)) == 'veintidós años', 22,\r",
						"    lower(trim(antiguedad_anios)) == 'veintitrés' || lower(trim(antiguedad_anios)) == 'veintitrés años', 23,\r",
						"    lower(trim(antiguedad_anios)) == 'veinticuatro' || lower(trim(antiguedad_anios)) == 'veinticuatro años', 24,\r",
						"    lower(trim(antiguedad_anios)) == 'veinticinco' || lower(trim(antiguedad_anios)) == 'veinticinco años', 25,\r",
						"    iifNull(toInteger(regexReplace(antiguedad_anios, '[^0-9]', '')), 0)\r",
						"),",
						"          salario_mensual = iifNull(toDecimal(regexReplace(regexReplace(salario_mensual, '[^0-9.]', ''), ',', ''), 12, 2), 0),",
						"          observaciones = case(     isNull(trim(observaciones)) || length(trim(observaciones)) == 0 || upper(trim(observaciones)) == 'N/A' || upper(trim(observaciones)) == 'S/N' || upper(trim(observaciones)) == 'SIN OBS.', 'Sin observaciones',     initCap(trim(regexReplace(regexReplace(regexReplace(observaciones, '[\\r\\n]+', ' '), 'Ref: ', ''), ' — ', ' - '))) )) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_movimientos_personal')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_movimientos_personal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_operaciones')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_operaciones",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_operaciones",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_operacion as integer,",
						"          id_tipo as integer,",
						"          id_unidad_resp as integer,",
						"          id_zona as integer,",
						"          nombre_operacion as string,",
						"          fecha_inicio as string,",
						"          fecha_fin as string,",
						"          efectivos_desplegados as string,",
						"          vehiculos_utilizados as string,",
						"          duracion_dias as string,",
						"          costo_operacion as string,",
						"          resultado as string,",
						"          detenidos as string,",
						"          area_km2 as string,",
						"          incidentes as string,",
						"          observaciones as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(efectivos_desplegados = case(\r",
						"    lower(trim(efectivos_desplegados)) == 'cien' || lower(trim(efectivos_desplegados)) == 'ciento', 100,\r",
						"    lower(trim(efectivos_desplegados)) == 'doscientos', 200,\r",
						"    lower(trim(efectivos_desplegados)) == 'trescientos', 300,\r",
						"    lower(trim(efectivos_desplegados)) == 'cuatrocientos', 400,\r",
						"    lower(trim(efectivos_desplegados)) == 'quinientos', 500,\r",
						"    lower(trim(efectivos_desplegados)) == 'cincuenta', 50,\r",
						"    iifNull(toInteger(regexReplace(efectivos_desplegados, '[^0-9]', '')), 0)\r",
						"),",
						"          vehiculos_utilizados = case(\r",
						"    lower(trim(vehiculos_utilizados)) == 'dieciséis', 16,\r",
						"    lower(trim(vehiculos_utilizados)) == 'veinte', 20,\r",
						"    lower(trim(vehiculos_utilizados)) == 'veinticinco', 25,\r",
						"    iifNull(toInteger(regexReplace(vehiculos_utilizados, '[^0-9]', '')), 0)\r",
						"),",
						"          duracion_dias = case(     lower(trim(duracion_dias)) == 'siete', 7,     lower(trim(duracion_dias)) == 'ocho', 8,     lower(trim(duracion_dias)) == 'trece', 13,     lower(trim(duracion_dias)) == 'dieciocho', 18,     lower(trim(duracion_dias)) == 'veinte', 20,     lower(trim(duracion_dias)) == 'veinticinco', 25,     lower(trim(duracion_dias)) == 'cinco', 5,     iifNull(toInteger(regexReplace(duracion_dias, '[^0-9]', '')), 0) ),",
						"          costo_operacion = iifNull(toDecimal(regexReplace(regexReplace(regexReplace(costo_operacion, '[^0-9.,]', ''), ',', ''), '\\\\.(?=[0-9]{3})', ''), 15, 2), 0),",
						"          detenidos = case(\r",
						"    lower(trim(detenidos)) == 'ninguno' || lower(trim(detenidos)) == 'sin detenidos' || lower(trim(detenidos)) == 'cero' || lower(trim(detenidos)) == 'n/a' || trim(detenidos) == '-', 0,\r",
						"    lower(trim(detenidos)) == 'uno', 1,\r",
						"    lower(trim(detenidos)) == 'dos', 2,\r",
						"    lower(trim(detenidos)) == 'tres', 3,\r",
						"    lower(trim(detenidos)) == 'diez', 10,\r",
						"    lower(trim(detenidos)) == 'veinte', 20,\r",
						"    lower(trim(detenidos)) == 'veinticuatro', 24,\r",
						"    iifNull(toInteger(regexReplace(detenidos, '[^0-9]', '')), 0)\r",
						"),",
						"          incidentes = case(     lower(trim(incidentes)) == 'ninguno' || lower(trim(incidentes)) == 'sin incidentes' || lower(trim(incidentes)) == 'cero' || lower(trim(incidentes)) == 'n/a' || trim(incidentes) == '-' || lower(trim(incidentes)) == '0 incidentes', 0,     lower(trim(incidentes)) == 'uno', 1,     lower(trim(incidentes)) == 'dos', 2,     lower(trim(incidentes)) == 'tres', 3,     lower(trim(incidentes)) == 'cinco', 5,     lower(trim(incidentes)) == 'ocho', 8,     lower(trim(incidentes)) == 'diez', 10,     iifNull(toInteger(regexReplace(incidentes, '[^0-9]', '')), 0) ),",
						"          resultado = case(     lower(trim(resultado)) == 'exitosa' || lower(trim(resultado)) == 'exitoso' || lower(trim(resultado)) == 'favorable' || lower(trim(resultado)) == 'bueno' || lower(trim(resultado)) == 'objetivo cumplido' || lower(trim(resultado)) == 'completada' || lower(trim(resultado)) == 'logrado' || lower(trim(resultado)) == 'concluida' || lower(trim(resultado)) == 'finalizada' || lower(trim(resultado)) == 'sí, exitosa', 'EXITOSA',     lower(trim(resultado)) == 'fallida' || lower(trim(resultado)) == 'no logrado' || lower(trim(resultado)) == 'sin resultados' || lower(trim(resultado)) == 'sin resultados concretos' || lower(trim(resultado)) == 'negativo', 'FALLIDA',     lower(trim(resultado)) == 'parcial' || lower(trim(resultado)) == 'parcialmente exitoso' || lower(trim(resultado)) == 'parcialmente logrado' || lower(trim(resultado)) == 'aceptable' || lower(trim(resultado)) == 'satisfactorio' || lower(trim(resultado)) == 'regular', 'PARCIAL',     lower(trim(resultado)) == 'en proceso' || lower(trim(resultado)) == 'en curso' || lower(trim(resultado)) == 'por evaluar' || lower(trim(resultado)) == 'incompleta', 'EN PROCESO',     lower(trim(resultado)) == 's/n' || lower(trim(resultado)) == 'sin dato' || lower(trim(resultado)) == 'no reportado' || isNull(trim(resultado)) || trim(resultado) == '' || trim(resultado) == '-', 'SIN DATO',     upper(trim(resultado)) ),",
						"          nombre_operacion = initCap(\r",
						"    trim(\r",
						"        regexReplace(\r",
						"            replace(\r",
						"                replace(\r",
						"                    replace(\r",
						"                        replace(\r",
						"                            replace(\r",
						"                                replace(\r",
						"                                    replace(\r",
						"                                        toString(byName('nombre_operacion')),\r",
						"                                        'Operación',\r",
						"                                        ''\r",
						"                                    ),\r",
						"                                    'Op.',\r",
						"                                    ''\r",
						"                                ),\r",
						"                                'Op',\r",
						"                                ''\r",
						"                            ),\r",
						"                            '#',\r",
						"                            ''\r",
						"                        ),\r",
						"                        '\"',\r",
						"                        ''\r",
						"                    ),\r",
						"                    '/',\r",
						"                    ' '\r",
						"                ),\r",
						"                '-',\r",
						"                ' '\r",
						"            ),\r",
						"            '\\u0027',\r",
						"            ''\r",
						"        )\r",
						"    )\r",
						"),",
						"          area_km2 = iifNull(toDecimal(regexReplace(regexReplace(lower(area_km2), 'km[2]?', ''), '[^0-9.]', ''), 12, 2), 0),",
						"          observaciones = case(     isNull(trim(observaciones)) || length(trim(observaciones)) == 0 || upper(trim(observaciones)) == 'N/A' || upper(trim(observaciones)) == 'S/N', 'Sin observaciones',     initCap(trim(regexReplace(regexReplace(observaciones, '[\\r\\n]+', ' '), ' — ', ' - '))) ),",
						"          fecha_inicio = trim(fecha_inicio),",
						"          fecha_fin = trim(fecha_fin)) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_operaciones')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_operaciones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_rangos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_rangos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_rangos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_rangos')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_rangos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_tipos_movimientos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_tipos_movimiento",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_tipos_movimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_tipo as integer,",
						"          nombre as string,",
						"          descripcion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_tipos_movimiento')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_tipos_movimiento')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_tipos_operacion",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_tipos_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_tipos_operacion')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_tipos_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_oltp_to_silver_zonas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_zonas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_zonas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_zona as integer,",
						"          nombre as string,",
						"          departamento as string,",
						"          frontera_con as string,",
						"          tipo_terreno as string,",
						"          altitud_msnm as integer,",
						"          nivel_riesgo as string,",
						"          acceso_carretero as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(frontera_con = iifNull(frontera_con, 'Sin frontera')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_zonas')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_zonas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_otlp_to_silver_unidades')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_oltp_unidades",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_unidades",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_oltp_unidades')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_unidades')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_rango')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_rangos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_rango",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_rangos')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_rango')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_tipo_movimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_tipos_movimiento",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_tipo_movimiento",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_tipos_movimiento')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_tipo_movimiento')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_tipo_operacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_tipos_operacion",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_tipo_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_tipos_operacion')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_tipo_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_unidad')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_unidades",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_unidad",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_unidades')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_unidad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_zona_operacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_zonas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_zona_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_zonas')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_zona_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_to_gold_dim_efectivo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_efectivos",
								"type": "DatasetReference"
							},
							"name": "sourceEfectivos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_efectivo",
								"type": "DatasetReference"
							},
							"name": "sinkDimEfectivo"
						}
					],
					"transformations": [
						{
							"name": "columnasCalculadas"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id_efectivo as integer,",
						"          id_especialidad as integer,",
						"          id_unidad_actual as integer,",
						"          id_rango_actual as integer,",
						"          nombre as string,",
						"          ci as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          departamento_origen as string,",
						"          fecha_ingreso as string,",
						"          estado as string,",
						"          salario_mensual as decimal(12,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceEfectivos",
						"sourceEfectivos derive(anio_nacimiento = iif(toInteger(left(fecha_nacimiento, 4)) >= 1900, \r",
						"    toInteger(left(fecha_nacimiento, 4)), \r",
						"    toInteger(right(fecha_nacimiento, 4))),",
						"          grupo_edad = case(\r",
						"    2026 - iif(toInteger(left(fecha_nacimiento, 4)) >= 1900, toInteger(left(fecha_nacimiento, 4)), toInteger(right(fecha_nacimiento, 4))) < 20, 'Menor 20 años',\r",
						"    2026 - iif(toInteger(left(fecha_nacimiento, 4)) >= 1900, toInteger(left(fecha_nacimiento, 4)), toInteger(right(fecha_nacimiento, 4))) <= 30, '20-30 años',\r",
						"    2026 - iif(toInteger(left(fecha_nacimiento, 4)) >= 1900, toInteger(left(fecha_nacimiento, 4)), toInteger(right(fecha_nacimiento, 4))) <= 40, '31-40 años',\r",
						"    2026 - iif(toInteger(left(fecha_nacimiento, 4)) >= 1900, toInteger(left(fecha_nacimiento, 4)), toInteger(right(fecha_nacimiento, 4))) <= 50, '41-50 años',\r",
						"    'Mayor 50 años'\r",
						"),",
						"          anios_servicio = 2026 - iif(toInteger(left(fecha_ingreso, 4)) >= 1900, toInteger(left(fecha_ingreso, 4)), toInteger(right(fecha_ingreso, 4))),",
						"          fecha_nacimiento = iif(\r",
						"    instr(fecha_nacimiento, '/') == 0 && instr(fecha_nacimiento, '-') == 0,\r",
						"    toDate(fecha_nacimiento, 'yyyyMMdd'),\r",
						"    iif(\r",
						"        toInteger(left(fecha_nacimiento, 4)) >= 1900,\r",
						"        toDate(fecha_nacimiento, 'yyyy/MM/dd'),\r",
						"        iif(\r",
						"            instr(fecha_nacimiento, '/') > 0,\r",
						"            toDate(fecha_nacimiento, 'dd/MM/yyyy'),\r",
						"            iif(\r",
						"                toInteger(left(fecha_nacimiento, 2)) > 12,\r",
						"                toDate(fecha_nacimiento, 'dd-MM-yyyy'),\r",
						"                iif(\r",
						"                    toInteger(substring(fecha_nacimiento, 4, 2)) > 12,\r",
						"                    toDate(fecha_nacimiento, 'MM-dd-yyyy'),\r",
						"                    toDate(fecha_nacimiento, 'dd-MM-yyyy')\r",
						"                )\r",
						"            )\r",
						"        )\r",
						"    )\r",
						"),",
						"          fecha_ingreso = iif(\r",
						"    instr(fecha_ingreso, '/') == 0 && instr(fecha_ingreso, '-') == 0,\r",
						"    toDate(fecha_ingreso, 'yyyyMMdd'),\r",
						"    iif(\r",
						"        toInteger(left(fecha_ingreso, 4)) >= 1900,\r",
						"        toDate(fecha_ingreso, 'yyyy/MM/dd'),\r",
						"        iif(\r",
						"            instr(fecha_ingreso, '/') > 0,\r",
						"            toDate(fecha_ingreso, 'dd/MM/yyyy'),\r",
						"            iif(\r",
						"                toInteger(left(fecha_ingreso, 2)) > 12,\r",
						"                toDate(fecha_ingreso, 'dd-MM-yyyy'),\r",
						"                iif(\r",
						"                    toInteger(substring(fecha_ingreso, 4, 2)) > 12,\r",
						"                    toDate(fecha_ingreso, 'MM-dd-yyyy'),\r",
						"                    toDate(fecha_ingreso, 'dd-MM-yyyy')\r",
						"                )\r",
						"            )\r",
						"        )\r",
						"    )\r",
						")) ~> columnasCalculadas",
						"columnasCalculadas sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkDimEfectivo"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_efectivos')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_efectivo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_to_gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dim_rango",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_rango",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_tipo_movimiento",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_tipo_movimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_tipo_operacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_tipo_operacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_unidad",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_unidad",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_zona_operacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_zona_operacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dim_efectivo",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_to_gold_dim_efectivo",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceEfectivos": {},
									"sinkDimEfectivo": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "hechos_movimiento",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "dim_rango",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_unidad",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_tipo_movimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_zona_operacion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_tipo_operacion",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "dim_efectivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_dw_ffaa",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "ALTER TABLE gold.hechos_movimiento_personal NOCHECK CONSTRAINT ALL;\nSET IDENTITY_INSERT gold.hechos_movimiento_personal ON;\nTRUNCATE TABLE gold.hechos_movimiento_personal;\nWITH fechas_parseadas AS (\n    SELECT id_movimiento, id_efectivo, id_unidad_destino, id_rango, id_tipo,\n        antiguedad_anios, salario_mensual, observaciones,\n        CASE \n            WHEN fecha_movimiento NOT LIKE '%/%' AND fecha_movimiento NOT LIKE '%-%' THEN TRY_CONVERT(DATE, fecha_movimiento, 112)\n            WHEN TRY_CONVERT(INT, LEFT(fecha_movimiento, 4)) >= 1900 AND fecha_movimiento LIKE '%/%' THEN TRY_CONVERT(DATE, fecha_movimiento, 111)\n            WHEN fecha_movimiento LIKE '%/%' THEN TRY_CONVERT(DATE, fecha_movimiento, 103)\n            WHEN TRY_CONVERT(INT, LEFT(fecha_movimiento, 2)) > 12 THEN TRY_CONVERT(DATE, fecha_movimiento, 105)\n            WHEN TRY_CONVERT(INT, SUBSTRING(fecha_movimiento, 4, 2)) > 12 THEN TRY_CONVERT(DATE, fecha_movimiento, 110)\n            ELSE TRY_CONVERT(DATE, fecha_movimiento, 105)\n        END AS fecha_parsed\n    FROM silver.movimientos_personal\n)\nINSERT INTO gold.hechos_movimiento_personal (id_movimiento, id_tiempo, id_efectivo, id_unidad_destino, id_rango, id_tipo_movimiento, antiguedad_anios, salario_mensual, observaciones)\nSELECT p.id_movimiento, t.id_tiempo, p.id_efectivo, p.id_unidad_destino, p.id_rango, p.id_tipo, p.antiguedad_anios, p.salario_mensual, p.observaciones\nFROM fechas_parseadas p INNER JOIN gold.dim_tiempo t ON t.fecha = p.fecha_parsed;\nSET IDENTITY_INSERT gold.hechos_movimiento_personal OFF;\nALTER TABLE gold.hechos_movimiento_personal CHECK CONSTRAINT ALL;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "hechos_operacion",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "hechos_movimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_dw_ffaa",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "ALTER TABLE gold.hechos_operacion NOCHECK CONSTRAINT ALL;\nSET IDENTITY_INSERT gold.hechos_operacion ON;\nTRUNCATE TABLE gold.hechos_operacion;\nWITH fechas_parseadas AS (\n    SELECT id_operacion, id_tipo, id_unidad_resp, id_zona, nombre_operacion,\n        efectivos_desplegados, vehiculos_utilizados, duracion_dias, costo_operacion,\n        resultado, detenidos, area_km2, incidentes,\n        CASE \n            WHEN fecha_inicio NOT LIKE '%/%' AND fecha_inicio NOT LIKE '%-%' THEN TRY_CONVERT(DATE, fecha_inicio, 112)\n            WHEN TRY_CONVERT(INT, LEFT(fecha_inicio, 4)) >= 1900 AND fecha_inicio LIKE '%/%' THEN TRY_CONVERT(DATE, fecha_inicio, 111)\n            WHEN fecha_inicio LIKE '%/%' THEN TRY_CONVERT(DATE, fecha_inicio, 103)\n            WHEN TRY_CONVERT(INT, LEFT(fecha_inicio, 2)) > 12 THEN TRY_CONVERT(DATE, fecha_inicio, 105)\n            WHEN TRY_CONVERT(INT, SUBSTRING(fecha_inicio, 4, 2)) > 12 THEN TRY_CONVERT(DATE, fecha_inicio, 110)\n            ELSE TRY_CONVERT(DATE, fecha_inicio, 105)\n        END AS fecha_inicio_parsed,\n        CASE \n            WHEN fecha_fin NOT LIKE '%/%' AND fecha_fin NOT LIKE '%-%' THEN TRY_CONVERT(DATE, fecha_fin, 112)\n            WHEN TRY_CONVERT(INT, LEFT(fecha_fin, 4)) >= 1900 AND fecha_fin LIKE '%/%' THEN TRY_CONVERT(DATE, fecha_fin, 111)\n            WHEN fecha_fin LIKE '%/%' THEN TRY_CONVERT(DATE, fecha_fin, 103)\n            WHEN TRY_CONVERT(INT, LEFT(fecha_fin, 2)) > 12 THEN TRY_CONVERT(DATE, fecha_fin, 105)\n            WHEN TRY_CONVERT(INT, SUBSTRING(fecha_fin, 4, 2)) > 12 THEN TRY_CONVERT(DATE, fecha_fin, 110)\n            ELSE TRY_CONVERT(DATE, fecha_fin, 105)\n        END AS fecha_fin_parsed,\n        ROW_NUMBER() OVER (PARTITION BY id_operacion ORDER BY id_operacion) AS rn\n    FROM silver.operaciones\n),\nsin_duplicados AS (SELECT * FROM fechas_parseadas WHERE rn = 1)\nINSERT INTO gold.hechos_operacion (id_hecho, id_tiempo_inicio, id_tiempo_fin, id_unidad_resp, id_tipo_operacion, id_zona, nombre_operacion, efectivos_desplegados, vehiculos_utilizados, duracion_dias, costo_operacion, resultado, detenidos, area_km2, incidentes)\nSELECT p.id_operacion, ti.id_tiempo, tf.id_tiempo, p.id_unidad_resp, p.id_tipo, p.id_zona, p.nombre_operacion, p.efectivos_desplegados, p.vehiculos_utilizados, p.duracion_dias, p.costo_operacion, p.resultado, p.detenidos, p.area_km2, p.incidentes\nFROM sin_duplicados p\nINNER JOIN gold.dim_tiempo ti ON ti.fecha = p.fecha_inicio_parsed\nINNER JOIN gold.dim_tiempo tf ON tf.fecha = p.fecha_fin_parsed;\nSET IDENTITY_INSERT gold.hechos_operacion OFF;\nALTER TABLE gold.hechos_operacion CHECK CONSTRAINT ALL;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "gold"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_rango')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_tipo_movimiento')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_tipo_operacion')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_unidad')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_zona_operacion')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_to_gold_dim_efectivo')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_ffaa')]"
			]
		}
	]
}